<!DOCTYPE html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/latex.js@0.12.4/dist/css/article.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/latex.js@0.12.4/dist/css/base.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/latex.js@0.12.4/dist/css/book.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/latex.js@0.12.4/dist/css/katex.css">

<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="/public/data.js"></script>
<script src="/public/text_elements.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>

<style>
    h1 {
        margin: 40px;
        margin-bottom: 15px;
    }

    p#paper {
        padding: 40px;
        display: inline-block;
        width: 600px;
        border: 1px solid;
        margin-right: 2em;
    }

    div#main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    div#links {
        margin-bottom: 3em;
    }

    .btn {
        gap: 5px;
        cursor: pointer;
        text-decoration: none;
        color: #333;
        margin: 6px;
        margin-bottom: 1em;
    }

    .btn:hover,
    .btn:active {
        color: #777;
    }

    .btn-text {
        font-size: 20px;
        line-height: 14px;
    }
</style>

<div id="main">
    <h1>Welcome to the automated scientific discovery engine</h1>
    <div id="links">
        <a class="btn" href="https://github.com/aliaksandrkazlou/automated_scientific_discovery">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
            </svg>
            <span class="btn-text">explore the code</span>
        </a>
        <a class="btn" href="https://medium.com/@aliaksandrkazlou">
            <img src="https://www.vectorlogo.zone/logos/medium/medium-tile.svg" height="18" alt="Medium logo" />
            <span class="btn-text">read the article</span>
        </a>
    </div>
    <p> Choose effect of democracy from 9148 regressions to generate a paper</p>

    <div class="row align-items-center">
        <div class="col-sm">
            <div id="slider-new-york-times"></div>
        </div>
    </div>

    <div>
        <p id="paper"></p>
    </div>
</div>

<script>
    var width = 860;
    var height = 160;
    var margin = { top: 20, right: 50, bottom: 50, left: 40 };

    var barsNumber = 101;

    var min = -3.1;
    var max = 5;
    var histGenerator = d3.bin()
        .domain([min, max])
        .thresholds(barsNumber);

    var hist = histGenerator(data.map(x => x.effect));

    var histData = hist.map(d => ({
        effect: d.x0,
        value: d
    }));

    var svg = d3
        .select('div#slider-new-york-times')
        .append('svg')
        .attr('width', width)
        .attr('height', height);

    var padding = 0.1;

    var xBand = d3
        .scaleBand()
        .domain(histData.map(d => d.effect))
        .range([margin.left, width - margin.right])
        .padding(padding);

    var xLinear = d3
        .scaleLinear()
        .domain([min, max])
        .range([
            margin.left + xBand.bandwidth() / 2 + xBand.step() * padding - 0.5,
            width -
            margin.right -
            xBand.bandwidth() / 2 -
            xBand.step() * padding -
            0.5,
        ]);

    var y = d3
        .scaleLinear()
        .domain([0, d3.max(histData, d => d.value.length || 0)])
        .nice()
        .range([height - margin.bottom, margin.top]);

    var yAxis = g =>
        g
            .attr('transform', `translate(${width - margin.right},0)`)
            .call(
                d3
                    .axisRight(y)
                    .tickValues([1e4])
                    .tickFormat(d3.format('($.2s'))
            )
            .call(g => g.select('.domain').remove());

    var slider = g =>
        g.attr('transform', `translate(0,${height - margin.bottom})`).call(
            d3
                .sliderBottom(xLinear)
                .min(min)
                .max(max - 0.1)
                .step(0.001)
                .tickFormat(d3.format('.2'))
                .ticks(10)
                .default(0)
                .on('onchange', value => draw(value))
        );

    var bars = svg
        .append('g')
        .selectAll('rect')
        .data(histData);

    var barsEnter = bars
        .enter()
        .append('rect')
        .attr('x', d => xBand(d.effect))
        .attr('y', d => y(d.value.length || 0) - 10)
        .attr('height', d => y(0) - y(d.value.length || 0))
        .attr('width', xBand.bandwidth() - 1);

    svg.append('g').call(yAxis);
    svg.append('g').call(slider);
    svg.append('line')
        .style("stroke", "black")
        .style("stroke-dasharray", ("10,3"))
        .style("stroke-width", 1)
        .attr("x1", xBand(2))
        .attr("y1", 100)
        .attr("x2", xBand(2))
        .attr("y2", 10);


    svg.append('line')
        .style("stroke", "black")
        .style("stroke-dasharray", ("10,3"))
        .style("stroke-width", 1)
        .attr("x1", xBand(-1.9))
        .attr("y1", 100)
        .attr("x2", xBand(-1.9))
        .attr("y2", 10);

    svg.select('.track-overlay').attr('stroke-width', 120);

    function drawPaper(i) {
        let generator = new latexjs.HtmlGenerator({ hyphenate: true });

        fetch('/public/paper.txt')
            .then(response => response.text())
            .then(text => {
                var paperTitle = "";
                var abstract = "";
                var firstChapter = "";
                var results = "";
                var literature = "";
                if (histData[i].effect >= 1.96) {
                    paperTitle = titlePositive
                    abstract = abstractPositive
                    firstChapter = chapterOnePositive
                    results = resultsPositive;
                    literature = allLiterature.filter(x => !negativeLiterature.includes(x))
                } else if (histData[i].effect < 1.96 && histData[i].effect > -1.96) {
                    paperTitle = titleNoEffect
                    abstract = abstractNoEffect
                    firstChapter = chapterOneNoEffect
                    results = resultsNoEffect;
                    literature = allLiterature
                } else {
                    paperTitle = titleNegative
                    abstract = abstractNegative
                    firstChapter = chapterOneNegative
                    results = resultsNegative;
                    literature = negativeLiterature
                }

                // Select a random regression within the slider's step
                let effect = histData[i].value[Math.floor(Math.random() * histData[i].value.length)]
                let randomModel = data.find(x => x.effect == effect)

                const noLog = new Set(["e_polity2", "freedom_house"])
                var params = randomModel.formula
                    .map((x, i) => {
                        let log = randomModel.log == "FALSE" || noLog.has(x) ? "" : "\\log"
                        let varName = x.replace("_", "\\,")
                        return `\\beta_{${i + 1}}${log}{${varName}}_{ct}`
                    })
                    .join(" + ")
                var formula = `$$ {GDP\\,per\\,capita\\,growth_{ct+1}} = \\alpha + ${params} + \\mu_{c} + \\eta_{t} + \\epsilon_{ct} $$`

                var varsPart = mainVarsDescription(randomModel.formula)
                var varsPartAbstract = mainVarsDescriptionAbstract(randomModel.formula)
                var conflictPart = randomModel.formula.includes("conflict") ? conflictsVariable : ""
                var conflictPartShort = randomModel.formula.includes("conflict") ? conflictsVariableShort : "."
                var mainVarPart = mainVariable + (randomModel.formula.includes("freedom_house") ? "Freedom House" : "Polity IV") + "."
                var varsDescription = varsPart + conflictPart + mainVarPart
                var varsDescriptionAbstract = varsPartAbstract + conflictPartShort

                var replaced = text
                    .replace("${value}", histData[i].value)
                    .replace("${abstract}", abstract)
                    .replace("${firstChapter}", firstChapter)
                    .replace("${formula}", formula)
                    .replace("${paperTitle}", paperTitle)
                    .replace("${varsDescription}", varsDescription)
                    .replace("${varsDescriptionAbstract}", varsDescriptionAbstract)
                    .replace("${results}", results + ` (t = ${Number(randomModel.effect).toFixed(2)}).`)
                    .replace("${literature}", literature)

                var res = latexjs.parse(replaced, { generator: generator }).htmlDocument().documentElement.outerHTML;
                d3.select('p#paper').html(res);
            });
    }

    var draw = selected => {
        var i = Math.round((selected - min) * 10);
        var bar = (Math.round(selected * 10)) / 10;

        barsEnter
            .merge(bars)
            .attr('fill', d => (d.effect === bar ? '#94210a' : '#e0e0e0'));

        d3.select('p#value-new-york-times').text(histData[i].value.length || 0);

        drawPaper(i);
    };

    draw(0);

</script>